{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}: maquette{% endblock %}

{% block body %}
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="{{ asset('build/images/slide/slide1.png') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/slide/slide2.png') }}" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="{{ asset('build/images/slide/slide3.png') }}" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<section id="section-domaines">
		<h1 class="titre-h1">Nos domaines d'activités</h1>
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="row">
					<div class=" col-6 col-md-4 mt-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="card" style="background:linear-gradient(rgba(114,3,13, 0.7), rgba(114,3,13, 0.9)), url({{ asset('build/images/domaine/01_domaine.png') }}); background-size: cover;">
								<div class="card-body">
									<div class="card-title"><h3>La culture</h3></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 mt-3" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="card" style="background:linear-gradient(rgba(114,3,13, 0.8), rgba(114,3,13, 0.9)), url({{ asset('build/images/domaine/02_domaine.png') }}); background-size: cover;">
								<div class="card-body">
									<div class="card-title"><h3>L'éducation </h3></div>
								</div>
							</div>
						</a>

					</div>
					<div class="col-6 col-md-4 mt-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="card" style="background:linear-gradient(rgba(114,3,13, 0.8), rgba(114,3,13, 0.9)), url({{ asset('build/images/domaine/03_domaine.png') }}); background-size: cover;">
								<div class="card-body">
									<div class="card-title"><h3>La protection de l'enfance</h3></div>
								</div>
							</div>
						</a>

					</div>
					<div class="col-6 col-md-4 mt-3" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="card" style="background:linear-gradient(rgba(114,3,13, 0.8), rgba(114,3,13, 0.9)), url({{ asset('build/images/domaine/04_domaine.png') }}); background-size: cover;">
								<div class="card-body">
									<div class="card-title"><h3>L'autonomisation de la jeune fille et de la femme</h3></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 mt-3" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="card" style="background:linear-gradient(rgba(114,3,13, 0.8), rgba(114,3,13, 0.9)), url({{ asset('build/images/domaine/05_domaine.png') }}); background-size: cover;">
								<div class="card-body">
									<div class="card-title"><h3>La solidarité</h3></div>
								</div>
							</div>
						</a>
					</div>
					<div class="col-6 col-md-4 mt-3" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="card" style="background:linear-gradient(rgba(114,3,13, 0.8), rgba(114,3,13, 0.9)), url({{ asset('build/images/domaine/06_domaine.png') }}); background-size: cover;">
								<div class="card-body">
									<div class="card-title"><h3>La protection de l'environnement</h3></div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section-actions">
		<h1 class="titre-h1">Nos actions</h1>
		<div class="row">
			<div class="col-lg-10 offset-lg-1">
				<div class="row">
					<div class="col-md-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
						<div class="card bg-dark text-white">
							<img src="{{ asset('build/images/actions/01_action.png') }}" class="card-img" alt="">
							<div class="card-img-overlay">
								<div class="card-title"><h6>Titre actions</h6></div>
								<p class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aspernatur eaque enim, eum eveniet illum inventore ipsam iste laborum, mollitia numquam perspiciatis possimus quo rerum similique sint temporibus vero vitae.
								</p>
								<p class="card-text">
									<a href="#" class="liresuite">Lire la suite</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
						<a href="#">
							<div class="row g-1">
								<div class="col-4">
									<img src="{{ asset('build/images/actions/02_action.png') }}" alt="" class="img-fluid rounded-start">
								</div>
								<div class="col-8">
									<h6>Titre action</h6>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</p>
								</div>
							</div>
						</a>
						<a href="#">
							<div class="row g-1 mt-1">
								<div class="col-4">
									<img src="{{ asset('build/images/actions/03_action.png') }}" alt="" class="img-fluid rounded-start">
								</div>
								<div class="col-8">
									<h6>Titre action</h6>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</p>
								</div>
							</div>
						</a>
						<a href="#">
							<div class="row g-1 mt-1">
								<div class="col-4">
									<img src="{{ asset('build/images/actions/04_action.png') }}" alt="" class="img-fluid rounded-start">
								</div>
								<div class="col-8">
									<h6>Titre action</h6>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="section-actualites">
		<h1 class="titre-h1">Actualités</h1>
		<div class="row row-cols-1 row-cols-md-3 g4">
			<div class="col col-md-6 col-lg-4 mt-sm-5" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1500">
				<div class="card h-100">
					<img src="{{ asset('build/images/actualites/03_actualite.png') }}" alt="" class="card-img-top">
					<div class="card-body">
						<div class="card-title">Actualités titre</div>
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur at atque aut commodi dicta distinctio doloribus fugit nihil omnis porro, quaerat qui reiciendis sapiente sed sequi sit vero!
						</p>
						<p>
							<a href="#" class="liresuite">Lire suite</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col col-md-6 col-lg-4 mt-sm-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
				<div class="card h-100">
					<img src="{{ asset('build/images/actualites/02_actualite.png') }}" alt="" class="card-img-top">
					<div class="card-body">
						<div class="card-title">Actualités titre</div>
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur at atque aut commodi dicta distinctio doloribus fugit nihil omnis porro, quaerat qui reiciendis sapiente sed sequi sit vero!
						</p>
						<p>
							<a href="#" class="liresuite">Lire la suite</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col col-md-6 col-lg-4 mt-sm-5" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1500">
				<div class="card h-100">
					<img src="{{ asset('build/images/actualites/01_actualite.png') }}" alt="" class="card-img-top">
					<div class="card-body">
						<div class="card-title">Actualités titre</div>
						<p class="card-text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aspernatur at atque aut commodi dicta distinctio doloribus fugit nihil omnis porro, quaerat qui reiciendis sapiente sed sequi sit vero!
						</p>
						<p>
							<a href="#" class="liresuite">Lire la suite</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('accueil') }}
{% endblock %}
