<ul class="list">
    <li class="mb-1">
        <a href="#" class="link"><i class="bi bi-geo-alt me-1"></i>
            {{ coordonnee.siege }}
        </a>
    </li>
    <li class="mb-1">
        <a href="mailto:{{ coordonnee.email }}" class="link">
            <i class="bi bi-envelope me-1"></i>
            {{ coordonnee.email }}
        </a>
    </li>
    <li class="d-flex flex-column">
        <a href="tel:+225{{ coordonnee.telephone }}" class="link"> <i class="bi bi-telephone"></i> +225 {{ coordonnee.telephone }}</a>
        <a href="tel:+225{{ coordonnee.phone1 }}" class="link"><i class="bi bi-phone"></i> +225 {{ coordonnee.phone1 }}</a>
        {% if coordonnee.phone2 %}
            <a href="tel:+225{{ coordonnee.phone2 }}" class="link"> <i class="bi bi-phone"></i> +225 {{ coordonnee.phone2 }}</a>
        {% endif %}
        {% if coordonnee.phone3 %}
            <a href="tel:+225{{ coordonnee.phone3 }}" class="link"> <i class="bi bi-phone"></i> +225 {{ coordonnee.phone3 }}</a>
        {% endif %}

    </li>
</ul>
