{% set _route = app.request.attributes.get('_route') %}

{#<div id="install-container" style="display: none">#}
{#    <button class="btn-install-pwa"#}
{#            {{ stimulus_controller('@pwa/install') }}#}
{#        {{ stimulus_action('@pwa/install', 'install') }}#}
{#    >#}
{#        Installer l'application#}
{#    </button>#}
{#</div>#}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary scrolled fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ absolute_url(path('app_home')) }}" data-turbo="false">
                <img src="{{ asset('images/logo.jpg') }}" alt="" class="img-fluid" width="120">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1"
                 id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <img src="{{ absolute_url(asset('images/logo.jpg')) }}" alt="" class="img-fluid" style="width: 180px;">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                        <li class="nav-item mx-1">
                            <a class="nav-link   {% if _route == 'app_home' %}active{% endif %}" aria-current="page" href="{{ path('app_home') }}" data-turbo="false">Accueil</a>
                        </li>
                        <li class="nav-item mx-1 ">
                            <a class="nav-link {% if _route == 'app_presentation_index' %}active{% endif %}" href="{{ absolute_url(path('app_presentation_index')) }}">Qui sommes-nous?</a>
                        </li>
                        <li class="nav-item mx-1 ">
                            <a class="nav-link {% if _route == 'app_domaine_index' %}active{% endif %} " href="{{ absolute_url(path('app_domaine_index')) }}">Domaines</a>
                        </li>
                        <li class="nav-item mx-1 ">
                            <a class="nav-link" href="#">Programmes</a>
                        </li>
                        <li class="nav-item mx-1 ">
                            <a class="nav-link {% if _route == 'app_actualite_index' %}active{% endif %}" href="{{ absolute_url(path('app_actualite_index')) }}">Actualités</a>
                        </li>
                        <li class="nav-item mx-1 ">
                            <a class="nav-link {% if _route == 'app_galerie_index' %}active{% endif %}" href="{{ absolute_url(path('app_galerie_index')) }}">Galerie</a>
                        </li>

                        <li class="nav-item mx-1 ">
                            <a href="{{ absolute_url(path('app_contact_index')) }}" class="nav-link {% if _route == 'app_contact_index' %}active{% endif %}" target="">Contact</a>
                        </li>
                    </ul>
{#                    <a href="#" class="nav-cta">#}
{#                        ❤️ Faire un Don#}
{#                    </a>#}
                </div>

            </div>
        </div>
    </nav>
</header>
