{% extends 'base.html.twig' %}

{% block title %}{{ domaine ? domaine.titre }}{% endblock %}

{% block turbo_frame %}
    <turbo-frame id="main">
        {% block body %}
            <main>
                <section class="page-title cover-background">
                    <div class="container">
                        <div class="row align-items-center small-screen">
                            <div class="col-12 col-md-8">
                                <h4 class="fw-semibold color-gold animate__animated animate__slideInUp ">Nos actions</h4>

                                <h1 class="animate__titre  fw-bold color-terra-dark">
                                    {{ domaine ? domaine.titre }}
                                </h1>
                            </div>
                            <div class="col-md-4 d-none d-md-block">
                                <div class="animate__animated " data-animate="animate__zoomIn" data-parallax="0.3" data-duration="2.0s">
                                    <figure>
                                        <img src="{{ absolute_url(asset('images/autonomisation-circulaire.png')) }}" alt=""
                                             class="img-fluid">
                                    </figure>

                                </div>

                            </div>
                        </div>

                    </div>
                </section>

                <section class="actualites" id="actualites">
{#                    <div class="container animate__animated" data-animate="animate__slideInUp" data-duration="2.0s">#}
                    <div class="container">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
                            {% for actualite in actualites  %}
                                <div class="col">
                                    <div class="card h-100 rounded-0 border-0 shadow">
                                        <figure class="overflow-hidden position-relative">
                                            <img src="{{ absolute_url(asset('uploads/actualites/' ~ actualite.media)) }}" alt="{{ actualite.titre }}" class="card-img-top" loading="lazy">
                                            <figcaption
                                                class="position-absolute text-end bottom-0 w-100 bg-text-black pe-1 py-2 actualite-figcaption">
                                                <small class="fw-semibold px-3 py-2">{{ actualite.dateAction|format_datetime(locale='fr', pattern='d MMM yyyy') }}</small>
                                            </figcaption>
                                        </figure>

                                        <div class="card-body pb-5">
                                            <h5 class="card-title py-3">
                                                <a href="{{ absolute_url(path('app_actualite_details', {'slug': actualite.slug})) }}"
                                                   class="text-decoration-none color-terra"
                                                   data-turbo-frame="main"
                                                   data-turbo-action="advance"
                                                >
                                                    {{ actualite.titre }}
                                                </a>
                                            </h5>
                                            <div class="card-text mb-3">
                                                    {{ actualite.contenu|striptags|slice(0,150) }}

                                            </div>

                                            <a href="{{ absolute_url(path('app_actualite_details', {'slug': actualite.slug})) }}"
                                               class="text-decoration-none color-terra"
                                               data-turbo-frame="main"
                                               data-turbo-action="advance"
                                            >
                                                <small>Lire la suite...</small>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </section>



            </main>
        {% endblock %}
    </turbo-frame>
{% endblock %}



{% block head %}
    {# === TITLE & DESCRIPTION === #}
    <title>{{ domaine.titre|default("Domaines d'actions") }} - ONG KAGNINMIN</title>
    <meta name="description" content="{{ domaine.contenu|striptags|slice(0, 160)|default('Découvrez nos actions') }}">

    {# === Open Graph / Facebook === #}
    <meta property="og:title" content="{{ domaine.titre|default("Domaines d'actions") }} - ONG KAGNINMIN">
    <meta property="og:description" content="{{ domaine.contenu|striptags|slice(0, 160)|default('Découvrez nos domaines ') }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ absolute_url(path('app_domaine_details', {'slug': domaine.slug})) }}">

    {# Image principale (très important) #}
    {% if domaine.media %}
        <meta property="og:image" content="{{ absolute_url(asset('uploads/domaines/' ~ domaine.media)) }}">
    {% else %}
        <meta property="og:image" content="{{ absolute_url(asset('images/autonomisation-circulaire.png')) }}">
    {% endif %}

    <meta property="og:site_name" content="ONG KAGNINMIN">
    <meta property="og:locale" content="fr_FR">

    {# === Twitter Cards === #}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ domaine.titre|default('Actualité') }} - ONG KAGNINMIN">
    <meta name="twitter:description" content="{{ domaine.contenu|striptags|slice(0, 160)|default('Découvrez nos actions') }}">

    {% if domaine.media %}
        <meta name="twitter:image" content="{{ absolute_url(asset('uploads/domaines/' ~ domaine.media)) }}">
    {% endif %}

{% endblock %}
