{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <section class="slider" id="slider">
            <div id="sliderCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item {{ loop.first ? 'active' : ''}}">

                            <div class="carousel-image">
                                <img src="{{ absolute_url(asset('uploads/slide/' ~ slide.media)) }}" class="d-block w-100" alt="...">
                                <div class="overlay"></div>
                            </div>

                            <div class="carousel-caption carousel-caption-container">
                                <h2 class="carousel-caption__title"><span
                                        class="bg-terra-gradient ps-3 pe-5">{{ slide.titre }}</span> </h2>
                                <p class="carousel-caption__description"> {{ slide.description}} </p>
                                {% if slide.url %}
                                    <a href="{{ slide.url }}" class="btn btn-terra-dark btn-gd rounded-0 mt-3">Découvrir</a>
                                {% endif %}
                                <!--<a href="#" class="btn btn-outline-terra btn-gd rounded-0 mt-3">Nous soutenir</a>-->
                            </div>

                        </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#sliderCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#sliderCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="domaines margin-section" id="domaines">
            <div class="container">

                <div class="section-label color-gold fw-semibold">Ce que nous faisons</div>
                <h4 class="section-title color-terra-dark mt-3 fs-2">Nos domaines d'interventions</h4>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="2.0s">
                        <div class="card h-100 card-brown border-0">
                            <div class="card-body p-5">
                                <h5 class="card-title font-jakarta fw-bold">Culture & Arts</h5>
                                <p class="card-text mt-3 text-justify">
                                    Valorisation du patrimoine culturel ivoirien et africain. Promotion des expressions
                                    artistiques locales comme vecteur
                                    d'identité, de fierté et d'émancipation collective.
                                </p>
                                <a href="#" class="card-link mt-5 text-decoration-none">Découvrir <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="1.5s">
                        <div class="card h-100 card-brown border-0">
                            <div class="card-body p-5">
                                <h5 class="card-title font-jakarta fw-bold">Éducation de Qualité</h5>
                                <p class="card-text mt-3 text-justify">
                                    Accès à l'éducation formelle et informelle pour les femmes et jeunes filles. Lutte
                                    contre les abandons scolaires, bourses, tutorat et centres d'apprentissage.

                                </p>
                                <a href="#" class="card-link mt-5 text-decoration-none">Découvrir <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="1.0s">
                        <div class="card h-100 card-brown border-0">
                            <div class="card-body p-5">
                                <h5 class="card-title font-jakarta fw-bold text-start">Autonomisation des Femmes et de
                                    jeune fille</h5>
                                <p class="card-text mt-3 text-justify">
                                    Formation professionnelle, entrepreneuriat féminin, leadership et plaidoyer pour les
                                    droits des femmes. Parce qu'une
                                    femme autonome change son foyer, sa communauté, son pays.

                                </p>
                                <a href="#" class="card-link mt-5 text-decoration-none">Découvrir <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="2.0s">
                        <div class="card h-100 card-brown border-0">
                            <div class="card-body p-5">
                                <h5 class="card-title font-jakarta fw-bold">Protection de la Jeune Fille</h5>
                                <p class="card-text mt-3 text-justify">
                                    Prévention des mariages précoces, des mutilations génitales et des violences basées
                                    sur le genre. Accompagnement
                                    psychosocial et juridique des victimes.
                                </p>
                                <a href="#" class="card-link mt-5 text-decoration-none">Découvrir <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="1.5s">
                        <div class="card h-100 card-brown border-0">
                            <div class="card-body p-5">
                                <h5 class="card-title font-jakarta fw-bold">Solidarité</h5>
                                <p class="card-text mt-3 text-justify">
                                    Nos réalisations en terme de dons, d'aide et soutien aux populations défavorisées.

                                </p>
                                <a href="#" class="card-link mt-5 text-decoration-none">Découvrir <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="1.0s">
                        <div class="card h-100 card-brown border-0">
                            <div class="card-body p-5">
                                <h5 class="card-title font-jakarta fw-bold">Culture & Arts</h5>
                                <p class="card-text mt-3 text-justify">
                                    Valorisation du patrimoine culturel ivoirien et africain. Promotion des expressions
                                    artistiques locales
                                    comme vecteur
                                    d'identité, de fierté et d'émancipation collective.
                                </p>
                                <a href="#" class="card-link mt-5 text-decoration-none">Découvrir <i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="apropos margin-top150" id="apropos">
            <div class="container-fluid padding-section">
                <div class="row row-cols-1 row-cols-lg-2 g-4 d-flex align-items-center">
                    <div class="col">
                        <div class="section-label color-gold-light fw-semibold">Qui sommes-nous?</div>
                        <h4 class="section-title color-sand mt-3 fs-2">Porteurs d'un idéal commun</h4>
                        <div class="card p-3 mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Notre mission</h4>
                                <p class="card-text">
                                    L’ONG KAGNINMIN a pour objet d’une part, de mener des actions tendant à faire
                                    découvrir et valoriser le riche patrimoine
                                    culturel et touristique de la Côte d’Ivoire tant au niveau national, régional
                                    qu’international et d’autre part, à mener
                                    tous types d’actions au niveau social, économique et environnemental ayant pour but
                                    l’amélioration des conditions de
                                    vies des populations.
                                </p>
                            </div>
                        </div>

                        <div class="card p-3 mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Notre vision</h4>
                                <p class="card-text">
                                    Une Côte d'Ivoire où chaque femme et jeune fille vit dans la dignité, la liberté et
                                    l'égalité des chances.

                                </p>
                            </div>
                        </div>

                        <div class="card p-3 mt-3">
                            <div class="card-body">
                                <h4 class="card-title">Nos valeurs</h4>
                                <p class="card-text">
                                    Dignité humaine, inclusion, transparence, solidarité et ancrage communautaire.

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col">

                        <!--<h4 class="section-title color-sand mt-3 fs-2">Nos domaines d'interventions</h4>-->

                        <div class="kakemono text-center">
                            <img src="./assets/images/kakemono.png" alt="" class="img-fluid" data-parallax="-2">
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="actualites" id="actualites">
            <div class="container padding-section">

                <div class="section-label color-gold fw-semibold">Nos actions</div>
                <h4 class="section-title color-terra-dark mt-3 fs-2">Actualités</h4>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="2.0s">
                        <div class="card h-100 rounded-0 border-0 shadow">
                            <figure class="overflow-hidden position-relative">
                                <img src="./assets/images/actualites/actualite01.jpg" alt="" class="card-img-top">
                                <figcaption
                                    class="position-absolute text-end bottom-0 w-100 bg-text-black pe-1 py-2 actualite-figcaption">
                                    <small class="fw-semibold px-3 py-2">01 avril 2026</small>
                                </figcaption>
                            </figure>

                            <div class="card-body pb-5">
                                <h5 class="card-title py-3">
                                    <a href="#" class="text-decoration-none color-terra">Jeunesse, paix et forêts
                                        sacrées à Biankouma (2021)</a>
                                </h5>
                                <p class="card-text">
                                    Dans le cadre d'un projet financé par le Fonds de Consolidation de la Paix des
                                    Nations Unies et mené en partenariat avec L'UNESCO
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="1.5s">
                        <div class="card h-100 rounded-0 border-0 shadow">
                            <figure class="overflow-hidden position-relative">
                                <img src="./assets/images/actualites/actualite02.jpg" alt="" class="card-img-top">
                                <figcaption
                                    class="position-absolute text-end bottom-0 w-100 bg-text-black pe-1 py-2 actualite-figcaption">
                                    <small class="fw-semibold px-3 py-2">01 avril 2026</small>
                                </figcaption>
                            </figure>

                            <div class="card-body pb-5">
                                <h5 class="card-title py-3">
                                    <a href="#" class="text-decoration-none color-terra">Partenariat culturel: l'ONG
                                        KAGNINMIN au Centre Technique des Arts Appliqués de Bingerville</a>
                                </h5>
                                <p class="card-text">
                                    Le mercredi 2 septembre 2020, Madame BOMBO Tatiana, Présidente fondatrice de l'ONG
                                    KAGNINMIN - Culture et Développement...
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col animate__animated" data-animate="animate__slideInUp" data-duration="1.0s">
                        <div class="card h-100 rounded-0 border-0 shadow">
                            <figure class="overflow-hidden position-relative">
                                <img src="./assets/images/actualites/actualite03.jpg" alt="" class="card-img-top">
                                <figcaption
                                    class="position-absolute text-end bottom-0 w-100 bg-text-black pe-1 py-2 actualite-figcaption">
                                    <small class="fw-semibold px-3 py-2">01 avril 2026</small>
                                </figcaption>
                            </figure>

                            <div class="card-body pb-5">
                                <h5 class="card-title py-3">
                                    <a href="#" class="text-decoration-none color-terra">Valorisation du patrimoine
                                        culinaire ivoirien - Rencontre avec l'UVICOCI (2020)</a>
                                </h5>
                                <p class="card-text">
                                    Le 13 octobre 2020, l'ONG KAGNINMIN a présenté son projet de valorisation du
                                    patrimoine culinaire ivoirien au siège de l'Union des Villes...
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>

        <div {{ stimulus_controller('partenaire-loader',{ url: path('app_partenaire_list')}) }}>
            <div data-partenaire-loader-target="content">
                <div class="text-center p-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Chargement des partenaires...</span>
                    </div>
                </div>
            </div>
        </div>


{#        {{ render(controller('App\\Controller\\PartenaireController::widget')) }}#}
    </main>
{% endblock %}
