{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <section class="slider" id="slider">
            <div id="sliderCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">

                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item {{ loop.first ? 'active' : ''}}">

                            <div class="carousel-image">
                                <img src="{{ absolute_url(asset('uploads/slide/' ~ slide.media)) }}" class="d-block w-100" alt="...">
                                <div class="overlay"></div>
                            </div>

                            <div class="carousel-caption carousel-caption-container">
                                <h2 class="carousel-caption__title"><span
                                        class="bg-terra-gradient ps-3 pe-5">{{ slide.titre }}</span> </h2>
                                <p class="carousel-caption__description"> {{ slide.description}} </p>
                                {% if slide.url %}
                                    <a href="{{ slide.url }}" class="btn btn-terra-dark btn-gd rounded-0 mt-3">Découvrir</a>
                                {% endif %}
                                <!--<a href="#" class="btn btn-outline-terra btn-gd rounded-0 mt-3">Nous soutenir</a>-->
                            </div>

                        </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#sliderCarousel"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#sliderCarousel"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="domaines margin-section" id="domaines">
            <div class="container">

                <div class="section-label color-gold fw-semibold">Ce que nous faisons</div>
                <h4 class="section-title color-terra-dark mt-3 fs-2">Nos domaines d'interventions</h4>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">

                    {% for domaine in domaines %}
                        {% set duree = loop.index is even ? '2.0s' : '1.5s' %}
                        <div class="col animate__animated " data-animate="animate__slideInUp" data-duration="{{ duree }}">
                            <div class="card h-100 card-brown border-0">
                                <div class="card-body p-5">
                                    <h5 class="card-title font-jakarta fw-bold">{{ domaine.titre }}</h5>
                                    <div class="card-text my-3 text-start">
                                        {{ domaine.contenu|raw }}
                                    </div>
                                    {% if domaine.actualites|length > 0 %}
                                        <a href="{{ absolute_url(path('app_domaine_details',{"slug" : domaine.slug})) }}"
                                           class="card-link mt-5 text-decoration-none"
                                           data-turbo-frame="main"
                                           data-turbo-action="advance"
                                        >Nos actions <i
                                                class="bi bi-arrow-right"></i></a>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>

        <section class="apropos margin-top150" id="apropos">
            <div class="container-fluid padding-section">
                <div class="row row-cols-1 row-cols-lg-2 g-4 d-flex align-items-center">
                    <div class="col">
                        <div class="section-label color-gold-light fw-semibold">Qui sommes-nous?</div>
                        <h4 class="section-title color-sand mt-3 fs-2">Porteurs d'un idéal commun</h4>

                        <!-- Mission -->
                        <div {{ stimulus_controller('apropos-loader', {url: path('app_presentation_widget', {slug: 'accueil_mission'})}) }}>
                            <div data-apropos-loader-target="content">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-warning" role="mission">
                                        <span class="visually-hidden">Chargement de la mission...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Vision -->
                        <div {{ stimulus_controller('apropos-loader',{url: path('app_presentation_widget',{slug: 'accueil_vision'})}) }}>
                            <div data-apropos-loader-target="content">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-warning" role="vision">
                                        <span class="visually-hidden">Chargement de la vision...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Valeurs -->
                        <div {{ stimulus_controller('apropos-loader',{url: path('app_presentation_widget', {slug: 'accueil_valeur'})}) }}>
                            <div data-apropos-loader-target="content">
                                <div class="spinner-border text-warning" role="valeur">
                                    <span class="visually-hidden">Chargement des valeurs...</span>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col">

                        <!--<h4 class="section-title color-sand mt-3 fs-2">Nos domaines d'interventions</h4>-->

                        <div {{ stimulus_controller('apropos-loader',{url: path('app_presentation_widget',{slug: 'illustration'})}) }}>
                            <div data-apropos-loader-target="content">
                                <div class="text-center p-5">
                                    <div class="spinner-border text-warning">
                                        <div class="visually-hidden">Chargement de l'illustration...</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section class="actualites" id="actualites">
            <div class="container padding-section">

                <div class="section-label color-gold fw-semibold">Nos actions</div>
                <h4 class="section-title color-terra-dark mt-3 fs-2">Actualités</h4>

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">

                    {% for actualite in actualites|slice(0,3) %}
                        <div class="col animate__animated" data-animate="animate__slideInDown" data-duration="2.0s">
                            <div class="card h-100 rounded-0 border-0 shadow">
                                <figure class="overflow-hidden position-relative">
                                    <img src="{{ absolute_url(asset('uploads/actualites/' ~ actualite.media)) }}" alt="{{ actualite.titre }}" class="card-img-top" loading="lazy">
                                    <figcaption
                                        class="position-absolute text-end bottom-0 w-100 bg-text-black pe-1 py-2 actualite-figcaption">
                                        <small class="fw-semibold px-3 py-2">{{ actualite.dateAction|format_datetime(locale='fr', pattern='d MMM yyyy') }}</small>
                                    </figcaption>
                                </figure>

                                <div class="card-body pb-5">
                                    <h5 class="card-title py-3">
                                        <a href="{{ absolute_url(path('app_actualite_details', {'slug': actualite.slug})) }}"
                                           class="text-decoration-none color-terra"
                                           data-turbo-frame="main"
                                           data-turbo-action="advance"
                                        >
                                            {{ actualite.titre }}
                                        </a>
                                    </h5>
                                    <div class="card-text mb-3">
                                        {{ actualite.contenu|striptags|slice(0,150) }}

                                    </div>
                                    <a href="{{ absolute_url(path('app_actualite_details', {'slug': actualite.slug})) }}" class="text-decoration-none color-terra" data-turbo="false"><small>Lire la suite...</small></a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </section>

        <div {{ stimulus_controller('partenaire-loader',{ url: path('app_partenaire_list')}) }}>
            <div data-partenaire-loader-target="content">
                <div class="text-center p-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Chargement des partenaires...</span>
                    </div>
                </div>
            </div>
        </div>


{#        {{ render(controller('App\\Controller\\PartenaireController::widget')) }}#}
    </main>
{% endblock %}


{% block head %}
    <title>ONG KAGNINMIN - Culture et Développement au service des populations</title>
    <meta name="description" content="L'ONG KAGNINMIN est une organisation ivoirienne engagée dans la valorisation du riche patrimoine culturel et touristique de la Côte d'Ivoire.">

    <meta property="og:title" content="Culture et Développement au service des populations - ONG KAGNINMIN">
    <meta property="og:description" content="L'ONG KAGNINMIN est une organisation ivoirienne engagée dans la valorisation du riche patrimoine culturel et touristique de la Côte d'Ivoire.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolute_url(path('app_home')) }}">
    <meta property="og:image" content="{{ absolute_url(asset('images/logo.jpg')) }}">
{% endblock %}
