<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head %}{% endblock %}

        <link rel="icon" href="{{ absolute_url(asset('images/facion_logo.png')) }}">
        {% block stylesheets %}{% endblock %}

        {{ pwa(
            injectThemeColor: true,
            injectFavicons: true,
            injectSw: true,
            injectResourceHints: true
        ) }}


        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set frankenphpHotReload = app.request.server.get('FRANKENPHP_HOT_RELOAD') %}
        {% if frankenphpHotReload %}
        <meta name="frankenphp-hot-reload:url" content="{{ frankenphpHotReload }}">
        <script src="https://cdn.jsdelivr.net/npm/idiomorph"></script>
        <script src="https://cdn.jsdelivr.net/npm/frankenphp-hot-reload/+esm" type="module"></script>
        {% endif %}
    </head>
    <body>

        {% include('frontend/_header.html.twig') %}

        {% block turbo_frame %}
            {% block body %}{% endblock %}
        {% endblock %}

        <footer>
            <div class="container">

                <div {{ stimulus_controller('apropos-loader',{url: path('app_footer')}) }}>
                    <div data-apropos-loader-target="content">
                        <div class="text-center p-5">
                            <div class="spinner-border text-warning">
                                <div class="visually-hidden">Chargement du footer...</div>
                            </div>
                        </div>
                    </div>

            </div>
            <div class="barreMenu">
                <div class="container">
                    <div class="row">
                        <div class="flex-grow-1 col-auto ms-auto me-auto menu d-none d-lg-block">
                            <!--<ul class="nav mb-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="{{ path('app_home') }}"><i
                                            class="bi bi-house-fill"></i></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ absolute_url(path('app_presentation_index')) }}">QUI SOMMES-NOUS?</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ absolute_url(path('app_domaine_index')) }}">DOMAINES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">PROGRAMMES</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ absolute_url(path('app_galerie_index')) }}">GALERIE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ absolute_url(path('app_galerie_index')) }}">GALERIE</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ absolute_url(path('app_galerie_index')) }}">GALERIE</a>
                                </li>
                            </ul>-->
                        </div>
                        <div
                            class="copyright d-flex align-items-center justify-content-center align-content-center text-center">
                            &COPY; Copyright 2026 - ONG KAGNINMIN | Tous droits réservés
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Button go to top -->
        <div class="btn-gotop">
            <i class="bi bi-arrow-up"></i>
        </div>
        <!-- /Button go to top -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                crossorigin="anonymous"></script>
        <script>

        </script>
        {% block extra_javascripts %}{% endblock %}
    </body>
</html>
